@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', 'Roboto';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.songswithoutcommas::after {
    content: ', ';
}

.songswithoutcommas:last-child:after {
    content: '';
}

#songcolor{
    color: deeppink;
}

#songsort{
    color: midnightblue;
}

#songtable{
    display: block;
}

.homeimage{
    border-radius: 60px;
    width: 35em;
    height: auto;
    margin-top: -10em;
    margin-right: 5em;
}

.flex-container{
    display: flex;
    justify-content: flex-end;
}

.welcometext{
    text-align: center;
}

.alert-success {
    color: lightslategrey;
    background-color: lightpink;
    border-color: pink;
    margin-right: 55em;
}

.alert{
    padding: 10px
}

.alert-danger {
    margin-right: 55em;
}

tr {
    color: midnightblue
}

