
<div class="jumbotron">
    <h1>Goosenot</h1>
    <p class="lead">It's like .net but its not.</p>    
    <p class="lead">Someone had to do it,</p>
    <p class="lead">and my mom always told me I was someone.</p>
    <div class="flex-container">
    <img src="~/images/summer_tour.jpg" class="col-md-4 img-responsive homeimage" alt="Alternate Text" />
    </div>
</div>

<div class="flex-container">
    <div class="row">
        <div class="col-md-9 welcometext">
            <h2>Ahoy hoy, I'm Lou.</h2>
            <p>
                I was tired of my bill collecting job so I took a software development course and this is the result of it thus far. Hopefully in the future I can add show ratings and song histories. If you register you can populate a personal list of shows you've been to. My contact information can be found below if you're intersted in working on this with me. Perhaps if we're really lucky we can use this raise some money for harm reduction at shows.
            </p>
            <a href="mailto:louismilrod@gmail.com" class="btn btn-default">Contact</a>
        </div>
    </div>
    <div class="row">    
        <div class="col-md-3 target-goose">
            <img src="~/images/goose-outline-resize.png" alt="...">        
        </div>
    </div>
</div>